
<ul class="navigation">
    
    <li>
        Copyright &copy; {{now.year}}
    </li>
    
    <li>
        <a href="/humans.txt">Who Made This?</a>
    </li>
    
    <li>
        <a href="/styleguide">Styleguide</a>
    </li>
    
</ul>
