
<a class="item clearfix game game-{{playerCount}}-players{{#isTeamGame?}} game-teams{{/isTeamGame?}}" href="/game/{{_id}}">
    
    <div class="game-players">
        
        {{#winningPlayers}}
            <img src="{{#avatarSize}}60{{/avatarSize}}" alt="{{name}} won!" title="{{name}} won!" class="winner"/>
        {{/winningPlayers}}
        
        {{#losingPlayers}}
            <img src="{{#avatarSize}}60{{/avatarSize}}" alt="{{name}} lost" title="{{name}} lost" class="loser"/>
        {{/losingPlayers}}
        
    </div>
    
    <div class="details">
        
        <h3>
            <span class="winners">
                {{winningPlayerNames}}
            </span>
            beat
            <span class="losers">
                {{losingPlayerNames}}
            </span>
            {{#foulOnBlack}}
                <span class="win-details">
                    (foul on the black)
                </span>
            {{/foulOnBlack}}
        </h3>
        
        <p class="time">
            <time datetime="{{#dateFormatted}}%FT%T%z{{/dateFormatted}}">
                {{#dateFormatted}}%B %d, %Y at %l:%M%P{{/dateFormatted}}
            </time>
        </p>
        
    </div>
    
</a>
