
<div class="title-bar container">
    <a href="/" class="logo">
        Pool Scores
    </a>
    <a href="#" class="toggle"></a>
</div>

<ul class="navigation">
    
    <li class="nav-leaderboard">
        <a href="/leaderboard">Leaderboard</a>
    </li>
    
    <li class="nav-games">
        <a href="/games" title="View recent games" class="view">Games</a>
        <a href="/game/new" title="Record a new game" class="add">&plus;</a>
    </li>
    
    <li class="nav-players">
        <a href="/players" title="View all players" class="view">Players</a>
        <a href="/player/new" title="Create a new player" class="add">&plus;</a>
    </li>
    
</ul>
