
<a href="/" class="logo">
    Pool Scores
</a>

<ul class="navigation">
    
    <li class="nav-home">
        <a href="/">Home</a>
    </li>
    
    <li class="nav-game-new">
        <a href="/game/new">New Game</a>
    </li>
    
    <li class="nav-players">
        <a href="/players">Players</a>
    </li>
    
    <li class="nav-player-new">
        <a href="/player/new">New Player</a>
    </li>
    
    <li class="nav-styleguide">
        <a href="/styleguide">Style-Guide</a>
    </li>
    
</ul>
