
<a href="/" class="logo">
    Pool Scores
</a>

<ul class="navigation">
    
    <li class="nav-leaderboard">
        <a href="/leaderboard">Leaderboard</a>
    </li>
    
    <li class="nav-players">
        <a href="/games" title="View recent games">Games</a>
        <a href="/game/new" title="Record a new game">&plus;</a>
    </li>
    
    <li class="nav-players">
        <a href="/players" title="View all players">Players</a>
        <a href="/player/new" title="Create a new player">&plus;</a>
    </li>
    
</ul>
