
<a class="item player clearfix" href="/player/{{username}}">
    
    <img src="{{avatar}}" alt="{{name}}"/>
    
    <div class="details">
        <h3>{{name}}</h3>
        <ul class="stats">
            <li class="wins">&plus;{{numberOfWins}}</li>
            <li class="losses">&minus;{{numberOfLosses}}</li>
            <li class="percentage" title="{{winPercentage}}% if you're being picky">{{winPercentageRounded}}%</li>
        </ul>
    </div>
    
</a>
