@charset 'utf-8';

/*========================================================*/
/* reset */

/* base styling */
a, abbr, address, applet, article, aside, audio, b, big,
blockquote, body, br, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, div, dl, dt, em, embed,
fieldset, figcaption, figure, footer, form, h1, h2, h3, h4,
h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd,
keygen, label, legend, li, mark, menu, meter, nav, object,
ol, output, p, pre, progress, q, rp, rt, ruby, s, samp,
section, small, source, span, strike, strong, sub, summary,
sup, table, tbody, td, tfoot, th, thead, time, tr, tt, ul,
var, video, wbr, .reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: lighter;
    font-style: normal;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section {
    display: block;
}

/* tables */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, td, th {
    text-align: left;
}

/* quotes */
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

/*========================================================*/
/* clear fixes */

.clearfix:before, .container:before, .navigation:before, .header:before, .clearfix:after, .container:after, .navigation:after, .header:after {
    content: '';
    display: table;
}
.clearfix:after, .container:after, .navigation:after, .header:after {
    clear: both;
}
.clearfix, .container, .navigation, .header {
    zoom: 1;
}

.clear {
    height: 0;
    margin: 0;
    padding: 0;
    display: block;
    clear: both;
    overflow: hidden;
    font-size: 1px;
    line-height: 0;
}

/*========================================================*/
/* type */

/* defaults */
body {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 1em;
    line-height: 1.625em;
}

/* layout */
blockquote, h1, h2, h3, h4, h5, h6, hr, ol, p, pre, ul, .field {
    margin: .875em 0;
}

/* size */
sub, sup {
    font-size: .875em;
    line-height: 1.375em;
}
h6, h5, h4, h3, h2, h1 {
    line-height: 1.625em;
}
h6, h5 {
    font-size: 1.125em;
    line-height: 1.444em;
    margin: .778em 0;
}
h4 {
    font-size: 1.375em;
    line-height: 1.182em;
    margin: .636em 0;
}
h3 {
    font-size: 1.625em;
    line-height: 2em;
    margin: .538em 0;
}
h2 {
    font-size: 1.875em;
    line-height: 1.733em;
    margin: .467em 0;
}
h1 {
    font-size: 2.125em;
    line-height: 1.529em;
    margin: .412em 0;
}

/* links */
a {
    color: #0a8fa2;
    border-bottom: .063em dotted #333;
}
a:hover {
    border-bottom: .063em solid #333;
}
a:visited {
    color: #666;
}
a:focus {
    border: none;
    outline: .063em dotted #333;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    border-bottom: none;
}

/* text-level semantics */
strong, b, mark {
    font-weight: bold;
}
em, i, mark, q {
    font-style: italic;
}
abbr[title], dfn[title] {
    border-bottom: .063em dotted #333;
    cursor: help;
}
ins, mark {
    color: inherit;
    background: #ffc;
}
del, s {
    text-decoration: line-through;
}
cite {
    font-style: italic;
}
sub {
    vertical-align: bottom;
}
sup {
    vertical-align: top;
}

/* selection */
::-moz-selection {
    background: #0a8fa2;
    color: #fff;
}
::selection {
    background: #0a8fa2;
    color: #fff;
}

/*========================================================*/
/* lists */

ol, ul {
    padding: 0 0 0 1.375em;
    list-style-position: outside;
}
ol {
    padding: 0 0 0 1.875em;
}
li ol, li ul {
    margin: 0;
    padding: 0 0 0 1.375em;
}

/*========================================================*/
/* preformatted text and code */

pre, code {
    font-family: 'Courier New', Courier, monospace;
}
code {
    padding: .214em .357em;
    display: inline;
    background: #eee;
    border: .063em solid #ccc;
    font-size: 1em;
    line-height: 1.286em;
    color: #333;
    white-space: nowrap;
    word-wrap: normal;
}
code::-moz-selection {
    background: #333;
    color: #fff;
}
code::selection {
    background: #333;
    color: #fff;
}
pre, pre code {
    display: block;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre code {
    padding: 1em;
}

/*========================================================*/
/* rules */

hr {
    height: 0;
    border: none;
    border-top: solid .125em #ccc;
    color: #ccc;
}

/*========================================================*/
/* grid */

/* columns */
.half, .third, .quarter, .fifth, .sixth {
    float: left;
}
.half:nth-child(2n+1), .third:nth-child(3n+1), .quarter:nth-child(4n+1), .fifth:nth-child(5n+1), .sixth:nth-child(6n+1) {
    clear: left;
}
.whole {
    width: auto;
    clear: both;
}
.half {
    width: 50%;
}
.third {
    width: 33%;
}
.third:nth-child(3n+1) {
    width: 34%;
}
.quarter {
    width: 25%;
}
.fifth {
    width: 20%;
}
.sixth {
    width: 16.5%;
}
.sixth:nth-child(6n+1), .sixth:nth-child(6n) {
    width: 17%;
}

/*========================================================*/
/* layout */

/* desktop (default) layout */
.body {
    width: 80%;
    min-width: 280px;
    max-width: 900px;
    min-height: 400px;
    margin: auto;
    padding: 1em;
}

/* small desktop */
@media all and (max-width: 1024px) {
    .body {
        width: 80%;
    }
    .sixth, .sixth:nth-child(6n) {
        width: 33%;
    }
    .sixth:nth-child(3n+1) {
        width: 34%;
        clear: left;
    }
}

/* tablet */
@media all and (max-width: 768px) {
    .body {
        width: 90%;
    }
    .quarter {
        width: 50%;
    }
    .quarter:nth-child(2n+1) {
        clear: left;
    }
    .fifth, .fifth:nth-child(5n+1) {
        width: 33%;
        clear: none;
    }
    .fifth:nth-child(3n+1) {
        width: 34%;
        clear: left;
    }
    .sixth, .sixth:nth-child(6n) {
        width: 33%;
    }
    .sixth:nth-child(3n+1) {
        width: 34%;
        clear: left;
    }
}

/* smart-phone */
@media all and (max-width: 480px) {
    .half, .third, .quarter, .fifth, .sixth {
        width: auto !important;
        float: none;
    }
}

/*========================================================*/
/* forms */

/* fields */
.text-field, .select-field, .checkbox-field, .radio-field, .button-field {
    margin-right: 1em;
}

/* labels */
.field label {
    display: block;
    margin: .538em 0;
}
.checkbox-field label, .radio-field label {
    display: inline;
    display: inline-block;
    zoom: 1;
}
.field label.title {
    display: block;
    font-size: 1.375em;
    line-height: 1.182em;
}
.field .help {
    margin: -.667em 0 1.333em 0;
    display: block;
    font-size: 0.750em;
    line-height: 1em;
}

/* inputs */
.text-field input, .select-field input {
    display: block;
}
.text-field input {
    width: 100%;
    max-width: 260px;
    padding: .538em;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    background: rgba(255, 255, 255, .4);
    border: .125em solid rgb(46, 152, 171);
    border-radius: 0;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #333;
    box-shadow: none;
    -webkit-appearance: none;
}
    .text-field input:focus {
        background: #fff;
        background: rgba(255, 255, 255, .8);
        border: .125em solid #5fd93b;
        outline: none;
    }
.button-field input {
    padding: .538em;
    background: rgb(46, 152, 171);
    background: rgba(46, 152, 171, .8);
    border: .125em solid transparent;
    border-radius: 0;
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    -webkit-appearance: none;
}
    .button-field input:hover {
        background: rgb(46, 152, 171);
        border: .125em solid rgb(17, 100, 115);
    }
    .button-field input:focus, .button-field input:active {
        background: #5fd93b;
        outline: none;
    }

/* miscellany */
.field ol, .field ul {
    padding: 0;
    list-style: none;
}

/*========================================================*/
/* general styling */

/* body */
body {
    background: #fff url('assets/body.png') repeat 0 0;
}

/* error pages */
.error {
    text-align: center;
}
    .error img {
        border: 2px solid #fff;
    }

/* navigation */
.navigation {
    margin: 0;
    padding: 0;
    list-style: none;
}
    .navigation li {
        display: block;
        float: left;
    }
        .navigation li a {
            display: block;
            float: left;
        }

/* header */
.header {
    background: #fff;
    background: rgba(255, 255, 255, .4);
    line-height: 5em;
    border-top: .063em solid #6db7c4;
}
    .header:before {
        display: block;
        border-top: .188em solid #2e98ab;
        border-bottom: .063em solid #206a77;
    }
    .header a, .header a:visited {
        color: #0a8fa2;
        border: none;
    }
    .header a:focus {
        outline: none;
    }
    .header .title-bar {
        display: block;
        float: left;
    }
        .header .title-bar a {
            margin: 0;
            padding: 0 .412em;
            display: block;
            float: left;
            font-size: 2.125em;
        }
        .header .title-bar .toggle {
            display: none;
            float: right;
            font-size: 1.625em;
            padding: 0 1em;
        }
    .header .navigation {
        padding: 0 1em;
        float: right;
    }
        .header .navigation li {
            line-height: 3em;
            margin: 0 0 0 1em;
            padding: 1em 0;
        }
            .header .navigation li a {
                padding: 0 .5em;
                background: rgba(255, 255, 255);
                background: rgba(255, 255, 255, .4);
                font-weight: normal;
                -moz-transition: all .2s ease-in;
                -ms-transition: all .2s ease-in;
                -webkit-transition: all .2s ease-in;
                transition: all .2s ease-in;
            }
                .header .navigation li a:hover {
                    background: rgb(46, 152, 171);
                    background: rgba(46, 152, 171, .8);
                    color: #fff;
                }
            .header .navigation li .add {
                margin: 0 0 0 .125em;
                text-align: center;
            }

/* responsive header - small screens */
@media all and (max-width: 660px) {
    
    /* body padding - to compensate for fixed positioning */
    .has-js .body {
        padding-top: 5em;
    }
    
    /* header */
    .header {
        height: auto;
        position: static;
        z-index: 100;
        width: 100%;
        overflow: hidden;
        background: #fff url('assets/header.mobile.png') repeat 0 0;
        border-bottom: .063em solid #6db7c4;
    }
    .has-js .header {
        position: fixed;
    }
    .header.closed {
        height: 5em;
    }
        .header .title-bar {
            float: none;
        }
            .header .title-bar .toggle {
                display: block;
            }
        .header .navigation {
            float: none;
        }
            .header .navigation li {
                margin: 1em 0;
                padding: 0;
                float: none;
            }
                .header .navigation li:after {
                    content: '';
                    display: table;
                    clear: both;
                }
                .header .navigation li a {
                    float: none;
                }
                .header .navigation li .view, .header .navigation li .add {
                    margin: 0;
                    float: left;
                    -moz-box-sizing: border-box;
                    -ms-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                }
                .header .navigation li .view {
                    width: 80%;
                }
                .header .navigation li .add {
                    width: 20%;
                    background: rgb(46, 152, 171);
                    background: rgba(46, 152, 171, .8);
                    color: #fff;
                }
    
}

/* footer */
.footer {
    padding: 2em 0 1em 0;
}
    .footer .navigation {
        padding: 0 1em;
    }
        .footer li {
            margin: 0 1em 0 0;
        }

/* item - shared styles for players and games */
.items {
    list-style: none;
    padding: 0;
}
    .item {
        margin: 0 1em 1em 0;
        padding: 0;
        min-height: 80px;
        padding: .875em;
        position: relative;
        display: block;
        background: #fff;
        background: rgba(255, 255, 255, .4);
        border: .125em solid transparent;
        color: #333;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }
    .whole .item {
        margin: 0 0 1em 0;
    }
        .item:hover, .item:active, .item:focus {
            background: #fff;
            background: rgba(255, 255, 255, .8);
            border: .125em solid rgb(46, 152, 171);
        }
        .item img {
            position: absolute;
            left: 12px;
            top: 12px;
            display: block;
            border: .125em solid #fff;
        }
        .item .details {
            padding: 0 0 0 100px;
        }
        .item h3 {
            margin-top: 0;
            line-height: 1.308em;
        }

/* players */
.player .stats {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}
    .player .stats li {
        margin: 0 0 .313em 0;
        padding: 0 .313em;
        display: inline;
        display: inline-block;
        zoom: 1;
        background: #fff;
        background: rgba(255, 255, 255, .4);
        font-weight: normal;
    }
    .player .stats .wins {
        color: #060;
    }
    .player .stats .losses {
        color: #c00;
    }
    .player .stats .percentage {
        color: #009cff;
    }

/* player-as-label */
label.player {
    min-height: 30px;
    margin: 0 1em 1em 0;
}
label.player.recruited {
    border-color: #e9c05f;
}
label.player.disabled {
    opacity: .5;
}
    label.player h5, label.player input {
        line-height: 1.667em;
        margin-top: 0;
        margin-bottom: 0;
        display: inline;
        display: inline-block;
        zoom: 1;
    }
    label.player .details {
        padding: 0 0 0 50px;
    }

/* games */
.game img.winner {
    z-index: 10;
}
.game img.loser {
    z-index: 5;
    left: 32px;
    top: 32px;
}
.game .game-players {
    width: 100px;
    min-height: 80px;
    margin: -12px 0 0 0;
    padding: 0;
    float: left;
}
    .game-teams .game-players img {
        width: 30px;
        height: 30px;
        margin: 12px 12px 0 0;
        position: static;
        display: block;
        float: left;
    }
.game .time {
    margin-bottom: 0;
}

/* leaderboard */
.leaderboard > li {
    padding: 0 0 0 3.188em;
    position: relative;
}
    .leaderboard > li .position {
        position: absolute;
        width: 1.346em;
        margin: 0;
        padding: 0.308em;
        left: 0;
        top: 0;
        display: block;
        line-height: 1.308em;
        background: rgb(46, 152, 171);
        color: #fff;
    }
    .leaderboard .player {
        border-left: .125em solid rgb(46, 152, 171);
    }
/* position 1 */
.leaderboard > li.position-1 .position {
    background: #e9c05f;
}
.leaderboard > li.position-1 .player {
    border-left-color: #e9c05f;
}
.leaderboard > li.position-1 .player:hover {
    border-color: #e9c05f;
}
/* position 2 */
.leaderboard > li.position-2 .position {
    background: #b4bbbf;
}
.leaderboard > li.position-2 .player {
    border-left-color: #b4bbbf;
}
.leaderboard > li.position-2 .player:hover {
    border-color: #b4bbbf;
}
/* position 3 */
.leaderboard > li.position-3 .position {
    background: #c4834a;
}
.leaderboard > li.position-3 .player {
    border-left-color: #c4834a;
}
.leaderboard > li.position-3 .player:hover {
    border-color: #c4834a;
}

/*========================================================*/
