
<h1>{{title}}</h1>

<ol class="container players leaderboard">
    {{#leaderboard}}
        
        <li class="whole position-{{position}}">
            
            <h3 class="position">{{position}}</h3>
            
            {{#person}}
                {{> partials/player}}
            {{/person}}
            
        </li>
        
    {{/leaderboard}}
</ol>
