
<blockquote cite="Dan Thorpe">
	&ldquo;Welcome to pool scoring, make this pretty.&rdquo;<br/>
	&mdash;Dan Thorpe
</blockquote>

<blockquote cite="Rowan Manning">
	&ldquo;I'm working on it!&rdquo;<br/>
	&mdash;Rowan Manning
</blockquote>
