
<blockquote cite="Dan Thorpe">
	<em>&ldquo;Welcome to pool scoring, make this pretty.&rdquo;</em><br/>
	&mdash;Dan Thorpe
</blockquote>

<blockquote cite="Rowan Manning">
	<em>&ldquo;I&rsquo;m working on it! Check out <a href="/styleguide">the styleguide</a> - just placeholder styles but we&rsquo;re certainly on our way&hellip;&rdquo;</em><br/>
	&mdash;Rowan Manning
</blockquote>
