<!DOCTYPE html>
<html lang="en-GB">
<head>
	
	<meta charset="utf-8"/>
	<title>{{title}}</title>
	
	<meta name="description" content="{{description}}"/>
	
</head>
<body>

	<div class="wrapper">
		{{{yield}}}
	</div>

</body>
</html>