<!DOCTYPE html>
<html lang="en-GB">
<head>
	
	<meta charset="utf-8"/>
	<meta name="description" content="{{description}}"/>
	<link rel="author" href="/humans.txt"/>
	<title>{{fullTitle}}</title>
	
	<link rel="stylesheet" type="text/css" href="/style/main.css"/>
	
</head>
<body>

	<div class="wrapper">
		{{> partials/navigation}}
		{{{yield}}}
	</div>

</body>
</html>