
<h1>{{title}}</h1>

<ul class="container">
    {{#players}}
        
        <li class="quarter">
            <div class="inner">
                <a href="/player/{{username}}" class="person">
                    
                    <img src="{{avatar}}" alt="{{name}}"/>
                    
                    <div class="details">
                        <h3>{{name}}</h3>
                    </div>
                    
                </a>
            </div>
        </li>
    
    {{/players}}
</ul>
