
<h1>{{title}}</h1>

<ul class="container players">
    {{#players}}
        
        <li class="half">
            <div class="inner player clearfix">
                <a href="/player/{{username}}">
                    
                    <img src="{{avatar}}" alt="{{name}}"/>
                    
                    <div class="details">
                        <h3>{{name}}</h3>
                    </div>
                    
                </a>
            </div>
        </li>
    
    {{/players}}
</ul>
