
<h1>{{title}}</h1>

<form method="post" action="{{request.path}}">
    
    {{> partials/form-errors}}
    
    <p>
        Manage player avatars through <a href="http://gravatar.com/">Gravatar</a>
        – if you don't use Gravatar, we'll find a pretty unicorn for you.
    </p>
    
    <div class="container">
        
        <div class="third">
            <div class="field text-field inner">
                <label for="name">Name</label>
                <span class="help">Enter the player's name</span>
                <input type="text" name="name" id="name" value="{{request.params.name}}"/>
            </div>
        </div>
        
        <div class="third">
            <div class="field text-field inner">
                <label for="username">Username</label>
                <span class="help">Enter a short username for the player (alphanumeric + underscore)</span>
                <input type="text" name="username" id="username" value="{{request.params.username}}"/>
            </div>
        </div>
        
        <div class="third">
            <div class="field text-field inner">
                <label for="email">Email Address</label>
                <span class="help">Enter the player's (unique) email address</span>
                <input type="email" name="email" id="email" value="{{request.params.email}}"/>
            </div>
        </div>
        
        <div class="third">
            <div class="field checkbox-field">
                <input type="checkbox" name="guest" value="1"/>
                <label for="guest">Is this player a guest player?</label>
            </div>
        </div>
    
    </div>
    
    <div class="field button-field">
        <input type="submit" value="Create Player"/>
    </div>
        
</form>
