
<h1>{{title}}</h1>

{{#player}}
    
    <p style="color: #f00;">Todo: this needs building properly</p>
    
    {{> partials/player}}
    
    <p><a href="mailto:{{email}}">Send {{name}} an email</a></p>
    
    <h2>Recent Games</h2>
    
    <ul class="container games">
        {{#games}}
            
            <li class="whole">
                {{> partials/game}}
            </li>
        
        {{/games}}
    </ul>
    
{{/player}}
