
<h1>{{title}}</h1>

<p>The base rules are <a href="http://en.wikipedia.org/wiki/Eight-ball">standardised eight-ball</a>. <span style="color: #f00;">TODO: Is this right? Do we offer multiple rule-sets and variants as parameters in game creation? Am I over-thinking?</span></p>

<h2>House-specific Rules</h2>

<ol>

    <li>House</li>
    
    <li>Rules</li>
    
    <li>Go</li>
    
    <li>Here</li>
    
    <li>&hellip;</li>

</ol>