
{{#game}}
    
    <h1>
        {{description}}
        {{#foulOnBlack}}
            <span class="win-details">
                (foul on the black)
            </span>
        {{/foulOnBlack}}
    </h1>
    
    <p class="time">
        <time datetime="{{#dateFormatted}}%FT%T%z{{/dateFormatted}}">
            {{#dateFormatted}}%B %d, %Y at %l:%M%P{{/dateFormatted}}
        </time>
    </p>
    
    <h2>Players in this Game</h2>
    
    <ul class="container items players">
        
        {{#winningPlayers}}
            
            <li class="half">
                {{> partials/player}}
            </li>
        
        {{/winningPlayers}}
        
        {{#losingPlayers}}
            
            <li class="half">
                {{> partials/player}}
            </li>
        
        {{/losingPlayers}}
        
    </ul>
    
{{/game}}
