
<h1>{{title}}</h1>

<p style="color: #f00;">Todo: this currently gets <em>all</em> games, we need a 'recent' view on _design/Game in CouchDB, in descending order by date</p>

<ul class="container items games">
    {{#games}}
        
        <li class="whole">
            {{> partials/game}}
        </li>
    
    {{/games}}
</ul>
