<!DOCTYPE html>
<html lang="en-GB">
<head>
    
    <meta charset="utf-8"/>
    <meta name="description" content="{{description}}"/>
    <link rel="author" href="/humans.txt"/>
    <title>{{fullTitle}}</title>

    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Quicksand:300,400,700"/>
    <link rel="stylesheet" type="text/css" href="/style/main.css"/>
    
</head>
<body>
    
    {{> partials/ie-no-no}}
    
    <div id="header" class="header">
        {{> partials/header}}
    </div>

    <div class="body">
        {{{yield}}}
    </div>
    
    <div class="footer">
        {{> partials/footer}}
    </div>
    
    <!-- Google Analytics -->
    <script type="text/javascript">
        if (document.location.hostname !== 'localhost') {
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-28632753-1']);
            _gaq.push(['_setDomainName', 'pool-scoring.heroku.com']);
            _gaq.push(['_setAllowLinker', true]);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            } ());
        }
    </script>
    
    <!-- Yeah, yeah, I know. We'll get around to minifying all of this -->
    <script src="/script/vendor/jquery.js"></script>
    <script src="/script/pool/Header.js"></script>
    <script src="/script/main.js"></script>
    
</body>
</html>